#freakshow {
	position: absolute;
}

#toppic {
	margin-top: 50px;
	width: 1300px;
	height: 300px;
}

ul {list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding:  0;
}

li a {
	float: left;
	display: block;
	text-decoration:  none;
	color: darkgreen;
	text-align:  center;
	padding: 1em 2em 1em 2em;
}
nav {
	position:  relative;
	background-color: yellow;
	width: 1300px;
}

main {
	position: relative;
	margin: 0 auto;
	margin-top: 350px;
}
.contentv {
	width: 400px;
	height: 600px;
	position: relative;
}
.contenth {
	width: 600px;
	height: 400px;
}

#right {
	float: right;
}
#left {
	position: relative;
	float: left;
}


footer {
	background-color: yellow;
	background-image: -moz-linear-gradient(#yellow, #white);
	background-image: -webkit-gradient (linear, 0% 0%, 0% 100%, from (#yellow), to (#white));
}
